* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* bydefalut 1rem=16px; */

    /* 8/16=0.5
   0.5*100=50%; */
    /* font-size:50%; */

    /* 11/16=0.6875;
    0.6875*100=68.75; */
    /* font-size: 68.75%; */

    /* 10/16=0.625;
    0.625*100=62.5*; */
    font-size: 62.5%;

}

body {
    font-family: 'Roboto';
}

:root {
    --primary-color: #273376;
    --secondary-color: #F1604C;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25.00%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50.00%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75.00%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100.00%;
}


.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

section {
    margin: 8rem 0;
}

.headingnm {
    text-align: center;
    margin: 3rem 0;
    font-size: 5rem;
    font-weight: 500;
    color: rgb(61, 61, 61);
}

/*****************Header*******************/

.headercontainer {
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    width: 97%;
    margin: auto;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    height: 10rem;
    padding: 1.5rem 4rem;
    display: flex;
    background-color: white;
    z-index: 999;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headercontainer .logo {
    align-items: center;
    margin-top: .5rem;
}

.headercontainer .logo img {
    width: 22rem;
}

nav {
    display: flex;
    align-items: center;
}

.icons a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
    font-size: 1.7rem;
    margin-left: 1.2rem;
    color: var(--primary-color)
}

.icons .moon {
    padding: 1rem 1rem
}

.icons .login {
    padding: 1rem 1rem
}

nav ul {
    display: flex;
    column-gap: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav ul li a {
    font-weight: 550;
    color: var(--primary-color);
    transition: 1s;
}

nav ul li a:hover {
    color: var(--secondary-color);

}

.inquiry {
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 550;
    margin-left: 3rem;
    padding: .8rem 3rem;
    text-transform: uppercase;
}

.inquiry:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/******************************************/



/************************Main*********************/

#hero {
    height: 100vh;
    background-color: #faefee;
}

.herodata {
    padding-top: 17rem;
    height: 100vh;
}



.containerleft .favcou {
    margin-top: 5rem;
    font-size: 2.2rem;
    color: var(--primary-color);
}

.containerleft h6 {
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 400;

}

.containerleft h6 span {
    color: var(--secondary-color);
}

.containerleft .design {
    width: 20rem;
    margin-left: 9rem;
}

.containerleft p {
    font-size: 1.7rem;
    color: #f57463;
    margin-top: 20px;
    line-height: 3rem;
}

.containerleft .btn {
    display: inline-block;
    margin-top: 4rem;
    background-color: var(--secondary-color);
    color: #13297A;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

}

.btn1 {
    display: inline-block;
    margin-top: 4rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.btn1::before {
    content: '';
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 0.5s;
    z-index: -1;

}

.btn1:hover::before {
    transform: translate(-50%, -50%) scale(1);

}

.containerleft .btn::before {
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(102, 99, 99, .7);
    transition: all 0.2s;
}

/* .containerleft .curve{
    position: absolute;
    bottom: 0;
    left: -13rem;
    width: 40rem;
} */

.containerleft .btn:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.containerright {
    position: relative;
}

.containerright img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    display: block;
}

.containerright .courses {
    position: absolute;
    top: 16rem;
    left: 12rem;
    background-color: var(--primary-color);
    color: white;
    width: 12rem;
    height: 12rem;
    padding: 2rem 2.5rem;
    border-radius: 50%;
}

.containerright .courses {
    text-align: center;
    justify-content: center;
}

.containerright .courses i {
    font-size: 2.5rem;

}

.containerright .courses h2 {
    color: white;

    font-size: 3rem;
}

.containerright .courses p {
    font-size: 1.6rem;
    font-weight: 300;
}

.containerright .arrow1 {
    width: 10rem;
    position: absolute;
    top: 12rem;
    left: 28rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation: arrow11 infinite 3s;

}

@keyframes arrow11 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3rem);
    }

    100% {
        transform: translateX(0);
    }

}

.containerright .arro3 {
    width: 17rem;
    position: absolute;
    top: 27rem;
    left: 16rem;
    color: var(--primary-color);
}

.containerright .rating {
    position: absolute;
    top: 8rem;
    right: 0rem;
    background-color: var(--primary-color);
    background-color: white;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    padding: 3rem 2.2rem;
    text-align: center;

}

.rating h3 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 400;
}

.rating h3 i {
    color: gold;
}

.rating p {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-top: .7rem;
}

.containerright .arrow2 {
    width: 10rem;
    position: absolute;
    top: 20rem;
    right: 4rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation: arrow22 infinite 3s;

}

@keyframes arrow22 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0);
    }

}

/**************************************************/


/**********************Courses*******************/



.discourse {
    margin: 0 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
}

.cou {
    width: 100%;
    height: 50%;

    margin: auto;
    overflow: hidden;

}

.toppt {
    position: relative;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.toppt img {
    object-fit: cover;
    transition: all 1s;


}

.toppt p {
    position: absolute;
    top: 1.3rem;
    left: 1.8rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 550;
    background-color: #959083;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.discourse:hover .toppt img {
    transform: scale(1.2);
}

.bottompt h2 {
    position: relative;
    color: black;
    margin-top: 2.2rem;
    font-size: 2.3rem;
    line-height: 3rem;
    transition: all 2s;
    display: inline;
    background-image: linear-gradient(#000000, #000000);
    background-position: left bottom;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.discourse:hover h2 {
    background-size: 100% 2px;
}


.discourse:hover h3 {
    background-size: 100% 100%;
}

.bottompt p {
    color: gray;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 2.2rem;
}

.bottompt a {
    display: inline-block;
    color: gray;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.bottompt .student {
    margin-left: 1rem;
}


.bottompt .couamt {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 45%;
    align-items: center;
    right: 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: #5057E6;
    padding: 1.8rem 1.1rem;
    border-radius: 50%;
    transition: all 1s;
}

.discourse:hover .bottompt .couamt {
    transform: scale(1.2);
}

#courses .row {
    margin: 0 -1rem;
    row-gap: 2rem;
}

/*************************************************/




/*****************Reviews section***************/
.reviewdata h2 {
    color: #030303;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
}

.reviewdata .studreview {
    font-weight: 700;
}

.reviewdata .rating {
    text-align: center;
    margin: 3rem 0;
    font-size: 2rem;
}

.reviewdata .rating i {
    color: #FDD663;
}

.reviewdata .rating a {
    color: #2487f8;
}


/********slide******/
.studentthought {
    margin-top: 5rem;
}

.swiper {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    column-gap: 2rem;
}

.reviewdetail {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 1rem;
}

.reviewdetail p {
    font-size: 1.3rem;
}

.reviewdetail>div i {
    color: #FDD663;
    margin-top: 2rem;
    font-size: 1.5;
}

.reviewPerson {
    display: flex;
    margin: 2rem 4rem;
    align-items: center;
}

.reviewPerson img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.persondetail {
    margin-left: 1rem;
}

.persondetail h4 {
    font-size: 1.5rem;

}

.persondetail p {
    margin-top: 0.5 rem;
}

.swiper {
    position: static !important;
}

.reviewSlider {
    position: relative !important;
}

.reviewSlider .swiper-button-prev,
.reviewSlider .swiper-button-next {

    top: 100%;
}

.reviewSlider .swiper-button-next {
    left: 17rem;
}

/***********************************************/


/**********************Placement Section****************/
.placementSwiper{
 padding: 2rem;
}

.placementSwiper .swiper-slide{
   padding: 2rem;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.2);
    border-radius: 1rem;
} 
.placementSwiper .swiper-slide .studentdata {
    display: flex;
    
}

.swiper-slide .studentdata .studentimage {
    border: 10px solid var(--primary-color);
    border-radius: 5rem 0 0 0;
    width: 40%;
    position: relative;
}
.swiper-slide .studentdata .studentimage::after{
    content: '';
    width: 115%;
    height: 120%;
    position: absolute;
    background-color: var(--secondary-color);
    top: -1.2rem;
    left: -0.7rem;
    z-index: -1;
    transform: rotate(-10deg);
     border-radius: 0 5rem  0 0;

}
.studentdata .studentimage img {
    width: 100%;
    height: 100%;
    border-radius: 4rem 0 0 0;
    object-fit: center center;

}
.studentdata .studentposition {
    color: var(--primary-color);
    margin-left: 3rem;
    text-align: center;
    font-family: serif;
}
.studentdata .studentposition .name{
    font-size: 2rem;
}

.studentdata .studentposition .position{
    font-size:2.2rem ;
}
.studentdata .studentposition .at{
    font-size: 2rem;
    text-align: center;
}
.studentdata .studentposition .logo{
    width: 10rem;
}


/******************************************/