* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* bydefalut 1rem=16px; */

    /* 8/16=0.5
   0.5*100=50%; */
    /* font-size:50%; */

    /* 11/16=0.6875;
    0.6875*100=68.75; */
    /* font-size: 68.75%; */

    /* 10/16=0.625;
    0.625*100=62.5*; */
    font-size: 62.5%;

}

body {
    font-family: 'Roboto';
}

:root {
    --primary-color: #273376;
    --secondary-color: #F1604C;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25.00%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50.00%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75.00%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100.00%;
}




a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

section {
    margin: 8rem 0;
}

.heading {
    text-align: center;
}

.headingnm {
    text-align: center;
    margin: 3rem 0 5rem 0;
    font-size: 5rem;
    font-weight: 500;
    color: var(--primary-color);
    position: relative;
    display: inline-block;
}

.headingnm::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1.3rem;
    border: 3px solid var(--secondary-color);
    width: 40%;
    transform: translate(-50%, -50%);
}

/*****************Header*******************/

.headercontainer {
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    width: 97%;
    margin: auto;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    display: flex;
    background-color: white;
    z-index: 999;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headercontainer .logo {
    align-items: center;
    margin-top: .5rem;
}

.headercontainer .logo img {
    width: 22rem;
}

nav {
    display: flex;
    align-items: center;
    order: -1;
    padding-left: 2rem;
}

.icons a {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    font-size: 1.7rem;
    margin-left: 1.2rem;
    color: var(--primary-color);
    transition: all 0.5s;
}

.icons a:hover {
    background-color: var(--secondary-color);
}

.icons .moon {
    padding: 1rem 1rem
}

.icons .login {
    padding: 1rem 1rem
}

nav ul {
    display: flex;
    column-gap: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav ul li a {
    font-weight: 550;
    color: var(--primary-color);
    transition: 0.3s;
}

nav ul li a:hover {
    color: var(--secondary-color);

}

.inquiry {
    display: inline-block;
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    font-size: 1.7rem;
    font-weight: 550;
    margin-left: 3rem;
    padding: .8rem 3rem;
    text-transform: uppercase;
    transition: all 0.5s;
}

.inquiry:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/******************************************/



/************************Main*********************/

#hero {
    height: 100vh;
    background-color: #faefee;
    margin: 0 !important;
}

.herodata {
    padding-top: 17rem;
    height: 100vh;
}

.containerleft .favcou {
    margin-top: 5rem;
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 500;
}

.containerleft h1 {
    margin-top: 2rem;
    font-size: 6rem;
    font-weight: 500;

}

.containerleft h1 span {
    color: var(--secondary-color);
}

.containerleft .design {
    width: 20rem;
    margin-left: 9rem;
}

.containerleft p {
    font-size: 1.7rem;
    color: #f57463;
    margin-top: 20px;
    line-height: 3rem;
}

.containerleft .btn {
    display: inline-block;
    margin-top: 4rem;
    background-color: var(--secondary-color);
    color: #13297A;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;

}

.btn1 {
    display: inline-block;
    margin-top: 4rem;
    background-color: var(--secondary-color);
    color: white;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.btn1::before {
    content: '';
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transition: all 0.5s;
    z-index: -1;

}

.btn1:hover::before {
    transform: translate(-50%, -50%) scale(1);

}

.containerleft .btn::before {
    content: '';
    width: 0%;
    height: 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(102, 99, 99, .7);
    transition: all 0.2s;
}

.containerleft .curve {
    position: absolute;
    bottom: 0rem;
    left: -1rem;
    width: 45rem;

}

.containerleft .btn:hover::before {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.containerright {
    position: relative;
}

.containerright img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    display: block;
}

.containerright .courses {
    position: absolute;
    top: 16rem;
    left: 20rem;
    background-color: var(--primary-color);
    color: white;
    width: 12rem;
    height: 12rem;
    padding: 2rem 2.5rem;
    border-radius: 50%;
}

.containerright .courses {
    text-align: center;
    justify-content: center;
}

.containerright .courses i {
    font-size: 2.5rem;

}

.containerright .courses h2 {
    color: white;

    font-size: 3rem;
}

.containerright .courses p {
    font-size: 1.6rem;
    font-weight: 300;
}

.containerright .arrow1 {
    width: 10rem;
    position: absolute;
    top: 12rem;
    left: 28rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation: arrow11 infinite 3s;

}

@keyframes arrow11 {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(3rem);
    }

    100% {
        transform: translateX(0);
    }

}

.containerright .arro3 {
    width: 17rem;
    position: absolute;
    top: 27rem;
    left: 16rem;
    color: var(--primary-color);
}

.containerright .rating {
    position: absolute;
    top: 8rem;
    right: 0rem;
    background-color: var(--primary-color);
    background-color: white;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    padding: 3rem 2.2rem;
    text-align: center;

}

.rating h3 {
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: 400;
}

.rating h3 i {
    color: gold;
}

.rating p {
    font-size: 1.3rem;
    color: var(--primary-color);
    margin-top: .7rem;
}

.containerright .arrow2 {
    width: 10rem;
    position: absolute;
    top: 20rem;
    right: 4rem;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

    animation: arrow22 infinite 3s;

}

@keyframes arrow22 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(3rem);
    }

    100% {
        transform: translateY(0);
    }

}

/**************************************************/


/**********************Courses*******************/



.discourse {
    margin: 0 1rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
    position: relative;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}

.cou {
    width: 100%;
    height: 50%;
    overflow: hidden;

}

.rating img {
    width: 2rem;
    height: 2rem;
}

.toppt {
    position: relative;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.toppt img {
    object-fit: cover;
    transition: all 1s;


}

.toppt p {
    position: absolute;
    top: 1.3rem;
    left: 1.8rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 550;
    background-color: #959083;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
}

.discourse:hover .toppt img {
    transform: scale(1.2);
}

.bottompt {
    padding-top: 1rem;
}

.bottompt h2 {
    position: relative;
    color: var(--primary-color);
    margin-top: 2.2rem;
    font-size: 2.3rem;
    line-height: 3rem;
    transition: all 2s;
    display: inline;
    background-image: linear-gradient(var(--primary-color), var(--primary-color));
    background-position: left bottom;
    background-size: 0 2px;
    background-repeat: no-repeat;
    transition: all 1s;
}

.discourse:hover h2 {
    background-size: 100% 2px;
}


.discourse:hover h3 {
    background-size: 100% 100%;
}

.bottompt p {
    color: #575e84;
    font-size: 1.4rem;
    margin-top: 1rem;
    line-height: 2.2rem;
}

.bottompt a {
    display: inline-block;
    color: gray;
    font-size: 1.4rem;
    margin-top: 2rem;
}

.bottompt .student {
    margin-left: 1rem;
}


/* .bottompt .couamt {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 45%;
    align-items: center;
    right: 2rem;
    font-size: 1.2rem;
    color: white;
    background-color: var(--secondary-color);
    padding: 1.8rem 1.1rem;
    border-radius: 50%;
    transition: all 1s;
} */

/* .discourse:hover .bottompt .couamt {
    transform: scale(1.2);
} */

#courses .row {
    margin: 0 -1rem;
    row-gap: 2rem;
}

/*************************************************/




/*****************Reviews section***************/
/* .reviewdata h2 {
    color: #030303;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
} */

.reviewdata .studreview {
    font-weight: 700;
    font-size: 4.5rem;
    margin-top: -1rem;
    text-align: center;
}

.reviewdata .rating {
    text-align: center;
    margin: 3rem 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}

.reviewdata .rating i {
    color: #FDD663;
}

.reviewdata .rating a {
    color: #2487f8;
}


/********slide******/

.studentthought .quote {
    font-size: 6rem;
    color: gray;
    margin-left: -1rem;
}

.studentthought h3 {
    text-align: left;
    font-size: 3.2rem;
}

.swiper {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    column-gap: 2rem;
}

.reviewdetail {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    padding: 3rem;
    border-radius: 1rem;
    /* height: 16rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviewdetail p {
    font-size: 1.3rem;
}

.reviewdetail>div i {
    color: #FDD663;
    margin-top: 2rem;
    font-size: 1.5;
}

.reviewPerson {
    display: flex;
    margin: 2rem 4rem;
    align-items: center;
}

.reviewPerson img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.persondetail {
    margin-left: 1rem;
}

.persondetail h4 {
    font-size: 1.5rem;

}

.persondetail p {
    margin-top: 0.5 rem;
}

.swiper {
    position: static !important;
}

.reviewSlider {
    position: relative !important;
}

.reviewSlider .swiper-button-prev,
.reviewSlider .swiper-button-next {

    top: 80%;
}

.reviewSlider .swiper-button-prev {
    left: -1.2rem;
}

.reviewSlider .swiper-button-next {
    left: 15rem;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--primary-color);
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 60%;
}



/***********************************************/


/**********************Placement Section****************/
.placementdata {
    position: relative;
}

.placementSwiper {
    padding: 2rem;

}

.placementSwiper .swiper-slide {
    padding: 2rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}

.placementSwiper .swiper-slide .studentdata {
    display: flex;
    /* height: 13rem; */
    padding: 1rem 0;
}

.swiper-slide .studentdata .studentimage {
    border: 8px solid var(--primary-color);
    border-radius: 3rem 0 0 0;
    width: 40%;
    position: relative;
}

.swiper-slide .studentdata .studentimage::after {
    content: '';
    width: 117%;
    height: 120%;
    position: absolute;
    background-color: var(--secondary-color);
    top: -1.2rem;
    left: -0.9rem;
    z-index: -1;
    transform: rotate(-9deg);
    border-radius: 0 5rem 0 0;

}

.studentdata .studentimage img {
    width: 100%;
    height: 100%;
    border-radius: 2rem 0 0 0;
    object-fit: center center;

}

.studentdata .studentposition {
    color: var(--primary-color);
    margin-left: 3rem;
    text-align: center;

}

.studentdata .studentposition .name {
    font-size: 1.8rem;
}

.studentdata .studentposition .position {
    font-size: 1.8rem;
}

.studentdata .studentposition .at {
    font-size: 1.8rem;
    text-align: center;
}

.studentdata .studentposition .logo {
    width: 9rem;
    height: 1rem;
    object-fit: cover;
}

.reviewbox {
    margin: 2rem;
}

.reviewSlider .swiper-wrapper {
    padding: 1rem;
}

.placementSwiper .swiper-button-prev svg,
.placementSwiper .swiper-button-next svg {
    height: 3rem;
    width: 3rem;
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
    /* background-color: #cfcfd5; */

}

.placementSwiper .swiper-button-prev,
.placementSwiper .swiper-button-next {
    top: 107%;
}

.placementSwiper .swiper-button-prev {
    left: 46.5%;
    /* transform: translate(0,0); */
}

.placementSwiper .swiper-button-next {
    right: 46.5%;
    /* transform: translate(0,0); */
}

/******************************************/




/***********************Collaboration Section***********************/

.leftcolabslider {
    margin-top: 2rem;
}

.leftslider .swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.leftslider .swiper-slide img {
    display: block;
    width: 20rem;
    object-fit: cover;
}

.rightslider .swiper-slide img {
    display: block;
    width: 20rem;
    object-fit: cover;
}

/**************************************************************/



/**************************Why We Section*********************/
.why_wedata .whywedata {
    display: flex;
    column-gap: 2rem;
    margin: 5rem 0 0 0;
}

.whywedata .icon {
    /* background-color:#3d456f; */

    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    flex-shrink: 0;
    align-items: center;
    padding: 1.5rem;
    border: 2px solid var(--primary-color);
}

.whywedata .icon img {
    width: 3.5rem;

}

.whywedata .communication {
    padding: 0.8rem;
}

.whywedata .communication img {
    width: 5.5rem;
}

.whywedata .suggestion {
    padding: 0rem;
}

.whywedata .suggestion img {
    width: 7rem;
}

.whywedata .data h3 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.whywedata .data p {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 1rem;
    color: rgb(40, 40, 40, 0.7);
}

.why_wedata .midsec {
    position: relative;
}

.why_wedata .image {
    width: 22rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*****************************************/


/************************About Data*****************/

.aboutdata .about {
    margin-bottom: 2rem;
    row-gap: 2rem;
}

.topaboutdata {
    display: flex;
    margin: 1rem;
    height: 100%;

}

.topaboutdata .data {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2);
    padding: 4rem;
    border-radius: 2rem;
    border-left: 6px solid var(--secondary-color);
}

.aboutdata .topaboutdata .data .logo i {
    width: 6rem;
    height: 6rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 2.7rem;
    color: white;
    padding: 1.5rem;
}

.topaboutdata .data .logo {
    display: flex;
    align-items: center;


}

.topaboutdata .data .logo h3 {
    margin-left: 2rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    position: relative;
    text-align: left;
}

.topaboutdata .data .logo h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3rem;
    border: 3px solid var(--secondary-color);
    width: 18%;
    text-align: left;

}

.topaboutdata .data p {
    text-align: start;
    margin: 1.5rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
}

.topaboutdata .img {
    position: relative;
    z-index: 1;
}

.topaboutdata .img img {
    border-radius: 2rem 4rem 4rem 2rem;
    height: 100%;
    object-fit: cover;
}


.topaboutdata .img .topbox {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: -1rem;
    right: -1rem;
    z-index: -1;
    background-color: var(--primary-color);
    border-radius: 2rem;
}

.topaboutdata .img .bottombox {
    width: 10rem;
    height: 10rem;
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    z-index: -1;
    background-color: var(--secondary-color);
    border-radius: 2rem;
}


.aboutdata .bottomaboutdata {
    display: flex;
    margin: 1rem;
    column-gap: 1.5rem;
}

.aboutdata .bottomaboutdata .mission {
    column-gap: 2rem;
    display: flex;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2);
    padding: 2.8rem;
    border-radius: 2rem;
    align-items: center;
}

.aboutdata .bottomaboutdata .msn {
    padding-bottom: 4.7rem;
}

.bottomaboutdata .mission .logo {
    background-color: rgb(237, 233, 233);
    border-radius: 50%;
    padding: 1.5rem;
    width: 9rem;
    height: 9rem;
    flex-shrink: 0;

}

.bottomaboutdata .mission .logo i {
    width: 6rem;
    height: 6rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    font-size: 2.7rem;
    color: white;
    padding: 1.5rem;

}

.bottomaboutdata .mission .bottomdata h3 {
    font-size: 2.3rem;
    text-transform: uppercase;
    color: var(--primary-color);
    position: relative;
    text-align: left;
}

.bottomaboutdata .mission .bottomdata h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3rem;
    border: 3px solid var(--secondary-color);
    width: 10%;

}

.bottomaboutdata .mission .bottomdata p {
    text-align: start;
    margin: 2.5rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
}

/******************************8*****************/


/*************************************
Contact Data *****************************/
.contactdata {
    margin-top: 7rem;
}

.contactdata .map {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    margin-right: 3rem;
    height: 100%;
}

.contactdata .map iframe {
    height: 100%;
}

.contactdata .location h4 {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 650;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: relative;
}

.contactdata .location .main-name h4::after {
    content: '';
    border: 1px solid var(--secondary-color);
    position: absolute;
    width: 10%;
    top: 0.9rem;
    left: 17rem;
}

.contactdata .location .main-name h3 {
    font-size: 3.8rem;
    letter-spacing: 0.2rem;
    margin: 2rem 0;
    line-height: 5rem;
}

.contactdata .location .data {
    display: flex;
    margin-top: 4rem;

}

.contactdata .location .data .icon i {
    width: 7rem;
    height: 7rem;
    border-radius: 0.5rem;
    border: 2px solid var(--primary-color);
    font-size: 3.5rem;
    color: var(--secondary-color);
    padding: 1.5rem;

}

.contactdata .location .l_data {
    align-items: center;
    margin-left: 2rem;

}

.contactdata .location .data h3 {
    font-size: 2.3rem;
    display: inline-block;
}

.contactdata .location .data span {
    font-size: 2.5rem;
    font-weight: 650;
    color: var(--secondary-color);
    margin-left: 1rem;
}

.contactdata .location .data p {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

#contactform {
    width: 100%;
    height: 100%;
    padding: 8rem 0;
    position: relative;
    margin-bottom: 0 !important;
}

#contactform::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../images/contact_bg.png);
    background-size: cover;
    background-color: rgb(247, 247, 247);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contactform .form_data {
    z-index: 9;
}

.form_data h3 {
    text-align: center;
    font-size: 4rem;
    color: rgb(43, 42, 42);

}

.form_data form {
    margin-top: 7rem;
}

.form_data form input,
textarea {
    border: none;
    font-size: 1.5rem;
    /* width: 80%; */
    margin-left: 1rem;
    outline: none;
}

.form_data form label {
    font-size: 1.5rem;
    color: gray;
}

.form_data form .fr {
    row-gap: 1rem;


}

.form_data form .formdata {
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.2);
    /* margin-left: 1rem; */
    /* display: inline-block; */
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: white;

}

.form_data form .Message {
    height: 15rem;
    margin-top: 1rem;
    /* width: 100%; */
}

.form_data form .submit {
    display: inline-block;
    margin-top: 4rem;
    padding: 1.2rem 3rem;
    font-weight: 550;
    background-color: var(--secondary-color);
    color: white;
    z-index: 9;
    border: none;
    position: relative;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    z-index: 9;
    cursor: pointer;
}

.form_data form .submit::after {
    content: '';
    width: 0%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    border-radius: 0.5rem;
    opacity: 0;
}

.form_data form .submit:hover::after {
    background-color: var(--primary-color);
    width: 100%;
    opacity: 1;
    z-index: -1;
}

.form_data form .submitbutton {
    display: flex;
    justify-content: center;

}

/****************************************************/


/**********************************FooterSection ***************************/

#footredata {
    background-color: #E7E9F1;

}

#footredata .footer {
    padding: 6rem 0;
    border-bottom: 1px solid black;
}

.footer .data {
    display: flex;

}

.footer .data .logo {
    text-align: center;
}

.footer .data .logo .lg img {
    width: 15rem;

}

.footer .data .logo .location i {
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-top: 3rem;
}

.footer .data .logo .location p {
    font-size: 1.7rem;
    color: rgb(22, 22, 22);

}

.footer .data .logo .location p:hover {
    color: var(--secondary-color);
}

.footer .m_point .heading_nm {
    display: flex;
    align-items: center;
}

.footer .m_point .box {
    background-color: var(--secondary-color);
    width: 0.6rem;
    height: 0.6rem;
    display: inline-block;
    margin-right: 1rem;
}

.footer .m_point h3 {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-weight: 650;
}

/* .footer .m_point ul {
    margin-left: 2rem;
} */

.footer .m_point ul li a {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: rgb(22, 22, 22);
}

.footer .m_point ul li a:hover {
    color: var(--secondary-color);
}

.footer .m_point ul .cou_nm a {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-color);
    transition: 0.5s;
}

.footer .m_point ul .cou_nm a:hover {
    color: var(--primary-color);
}

.footer .contact_us ul li a span {
    margin-left: 0.7rem;
}

.footer .follow_us {
    margin-top: 3rem;
}

.footer .follow_us .follow {
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 1rem;

}

.footer .follow_us .follow i {
    color: rgb(22, 22, 22);
    transition: 0.5s;
    margin-left: 1.3rem;
}

.footer .follow_us .follow i:hover {
    color: var(--secondary-color);
}

#footredata p {
    padding: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(22, 22, 22);

}

/*********************************************************************** /