/* About-Page Media Query */

/* Extra small:-0> and <=576 */
@media screen and (max-width:576px) {

    .topaboutdata .logo .h3 {
        font-size: 1.5rem;
    }

    .aboutdata .bottomaboutdata .mission {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .why_wedata .midsec {
        display: none;
    }

    .contactdata .contact {
        row-gap: 2rem;
    }

    .contactdata .location .data h3 {
        font-size: 1.8rem;

    }

    .reviewSlider .swiper-button-prev,
    .reviewSlider .swiper-button-next {

        top: 100%;
    }

    .reviewSlider .swiper-button-prev {
        left: 15rem;
    }

    .reviewSlider .swiper-button-next {
        left: 19rem;
    }

    .placementSwiper .swiper-slide .studentdata {
        display: flex;
        /* height: 13rem; */
        padding: 1rem 0;
        flex-direction: column;
        align-items: center;
    }

    .headingnm {
        font-size: 3rem;
    }

    .placementSwiper .swiper-button-prev {
        left: 38%;

    }

    .placementSwiper .swiper-button-next {
        right: 38%;

    }

    .contactdata .location .main-name h3 {
        font-size: 2.7rem;
    }

    .topaboutdata {
        margin: 0;
    }

    .topaboutdata .data {
        padding: 1.5rem;
    }

    .topaboutdata .data .logo h3 {
        font-size: 1.9rem;

    }

    .bottomaboutdata .mission .bottomdata h3 {
        font-size: 1.9rem;
    }

    .aboutdata .bottomaboutdata .mission {
        padding: 1.7rem;

    }

    .aboutdata .bottomaboutdata .mission .logo {
        width: 7rem;
        height: 7rem;
        padding: 1rem;
    }

    .aboutdata .bottomaboutdata .mission .logo i {
        width: 5rem;
        height: 5rem;
        font-size: 2.5rem;
        padding: 1.3rem;
    }

    .leftslider .swiper-slide img {
        width: 14rem;
    }

    .rightslider .swiper-slide img {
        width: 14rem;
    }

    section {
        margin: 4rem 0;
    }

    .whywedata .data h3 {
        font-size: 2.2rem;
    }

    .whywedata .data p {
        font-size: 1.6rem;
    }

    .why_wedata .whywedata {
        margin: 2rem 0 0 0;
    }

    .whywedata .data p {
        margin-top: 0;
    }

    .whywedata .icon {
        width: 5rem;
        height: 5rem;
    }

    .whywedata .icon img {
        width: 3.1rem
    }

    .whywedata .icon {
        padding: .9rem;
    }

    .whywedata .communication img {
        width: 4.1rem;
        margin: -.7rem;
    }

    .whywedata .suggestion img {
        width: 7rem;
        margin: -2rem
    }

    .reviewdata .rating {
        display: block;
        flex-direction: row;
    }

    .contactdata .map {
        margin-right: 0;
    }

}




/* small:->=576 and <768 */
@media screen and (min-width:576px) {

    .topaboutdata .logo .h3 {
        font-size: 1.5rem;
    }


    .why_wedata .midsec {
        display: none;
    }

    .contactdata .contact {
        row-gap: 2rem;
    }

    .contactdata .location .data h3 {
        font-size: 2rem;

    }

    .reviewSlider .swiper-button-prev,
    .reviewSlider .swiper-button-next {

        top: 100%;
    }

    .reviewSlider .swiper-button-prev {
        left: 22rem;
    }

    .reviewSlider .swiper-button-next {
        left: 28rem;
    }

    .placementSwiper .swiper-slide .studentdata {
        flex-direction: column;
        align-items: center;
    }

    .headingnm {
        font-size: 4rem;
    }

    .placementSwiper .swiper-button-prev {
        left: 42.5%;

    }

    .placementSwiper .swiper-button-next {
        right: 42.5%;

    }

    .contactdata .location .main-name h3 {
        font-size: 3rem;
    }

    .topaboutdata .data .logo h3 {
        font-size: 2rem;

    }

    .bottomaboutdata .mission .bottomdata h3 {
        font-size: 2rem;
    }

    .leftslider .swiper-slide img {
        width: 18rem;
    }

    .rightslider .swiper-slide img {
        width: 18rem;
    }

    section {
        margin: 6rem 0;
    }

    .why_wedata .whywedata {
        margin: 2rem 0 0 0;
    }

    .whywedata .data p {
        margin-top: 0;
    }

}



/* Medium:->=768 and <992 */
@media screen and (min-width:768px) {

    .topaboutdata .logo .h3 {
        font-size: 1.8rem;
    }

    .aboutdata .bottomaboutdata .mission {
        flex-direction: row;
    }

    .contactdata .location .data h3 {
        font-size: 2.3rem;

    }

    .reviewSlider .swiper-button-prev,
    .reviewSlider .swiper-button-next {

        top: 100%;
    }

    .reviewSlider .swiper-button-prev {
        left: 31rem;
    }

    .reviewSlider .swiper-button-next {
        left: 39rem;
    }

    .placementSwiper .swiper-button-prev {
        left: 42.5%;

    }

    .placementSwiper .swiper-button-next {
        right: 42.5%;

    }

    .contactdata .location .main-name h3 {
        font-size: 3.8rem;
    }

    .whywedata .data p {
        margin-top: 1rem;
    }


}




/* Large :->=992 and <1200 */
@media screen and (min-width:992px) {

    .reviewSlider .swiper-button-prev,
    .reviewSlider .swiper-button-next {

        top: 80%;
    }

    .reviewSlider .swiper-button-prev {
        left: -1.2rem;
    }

    .reviewSlider .swiper-button-next {
        left: 13rem;
    }

    .placementSwiper .swiper-slide .studentdata {
        flex-direction: row;

    }

    .headingnm {
        font-size: 5rem;
    }

    .placementSwiper .swiper-button-prev {
        left: 44.5%;

    }

    .placementSwiper .swiper-button-next {
        right: 44.5%;

    }

    .aboutdata .bottomaboutdata .msn {
        padding-bottom: 6.7rem;
    }

    .topaboutdata .data .logo h3 {
        font-size: 2.3rem;

    }

    .bottomaboutdata .mission .bottomdata h3 {
        font-size: 2.3rem;
    }

    .leftslider .swiper-slide img {
        width: 20rem;
    }

    .rightslider .swiper-slide img {
        width: 20rem;
    }

    section {
        margin: 8rem 0;
    }

}




/* Extra large:->=1200 and <1400 */
@media screen and (min-width:1200px) {

    .topaboutdata .logo .h3 {
        font-size: 2.3rem;
    }

    .aboutdata .bottomaboutdata .mission {
        flex-direction: row;
    }

    .why_wedata .midsec {
        display: block;
    }

    .placementSwiper .swiper-button-prev {
        left: 45.5%;

    }

    .placementSwiper .swiper-button-next {
        right: 45.5%;

    }

    .aboutdata .bottomaboutdata .msn {
        padding-bottom: 4.7rem;
    }


}


/* Extra extra large:->=1400 */
@media screen and (min-width:1400px) {}